* { 
	margin: 0; 
	padding: 0; 
}

body { 
	font: 14px/1.4 Arial, Serif; 
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

#page-wrap {
	margin: 50px;
}

p {
	margin: 20px 0; 
}

table { 
	width: 100%; 
	border-collapse: collapse; 
}

td {
	text-align: center; 
}

td.summary-a {
	background: #eee; 
}

td.summary-b {
	background: #ddd; 
	font-weight: bold;
}

td.person-start {
	text-align: left; 
	background: #bbb; 
	font-weight: bold;
}

td.person-summary {
	text-align: center; 
	background: #eee; 
}

th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
}

/*
tr:hover {
    background-color: gray;
}
*/

td, th { 
	padding: 6px; 
	border: 1px solid #ccc; 
}

td.error {
	background: #F88;
}

td.correct {
	background: #8F8;
}

td.wrong {
	background: #FF8;
}

td.needs-attention {
	background: #FF8;
}

ul {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 30px;
	margin-left: 30px;
}
